<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello World!</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

  <!-- Icons -->
  <link href="{{ url_for('static', filename='vendor/nucleo/css/nucleo-icons.css') }}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- BLK• CSS -->
  <link type="text/css" href="{{ url_for('static', filename='css/blk-design-system.min.css') }}" rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">LIVE LEAGUE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Grid A -->
  <div class="container">
    <div class="row">
      <div class="col-sm">

        <!-- Column 1 of 1 -->
        <span>&nbsp;</span>
      </div>
    </div>
  </div>

  <!-- Grid B -->
  <div class="container">
  <div class="row">
    <div class="col-sm">

      <!-- Column 1 of 2 -->
      <span>

        <!-- Table (Standings) -->
        <table class="table">
          <thead>
              <tr>
                  <td colspan="3">STANDINGS</td>
              </tr>
              <tr>
                  <th class="text-center">#</th>
                  <th>Artist</th>
                  <th>Events</th>
                  <th>Points</th>
              </tr>
          </thead>
          <tbody>
          {% for row in standings %}
              <tr>
                  <td class="text-center">{{ standings.index(row) + 1 }}</td>
                  <td><a href="{{ url_for('artist', slug=row['slug']) }}">{{ row['name'] }}</a></td>
                  <td>{{ row['event_count'] }}</td>
                  <td>{{ row['points'] }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>

      </span>
    </div>
    <div class="col-sm">

      <!-- Column 2 of 2 -->
      <span>

        <!-- Table (Upcoming Events) -->
        <table class="table">
          <thead>
              <tr>
                  <td colspan="3">UPCOMING EVENTS</td>
              </tr>
              <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Name</th>
                  <th>Venue</th>
                  <th>Promoter</th>
                  <th>City</th>
              </tr>
          </thead>
          <tbody>
          {% for row in upcoming_events %}
              <tr>
                  <td>{{ row['start_date'] }}</td>
                  <td>{{ row['start_time'][:-3] }}</td>
                  <td><a href="{{ url_for('event', id=row['id']) }}">{{ row['name'] }}</a></td>
                  <td><a href="{{ url_for('venue', slug=row['venue_slug']) }}">{{ row['venue'] }}</a></td>
                  <td><a href="{{ url_for('promoter', slug=row['promoter_slug']) }}">{{ row['promoter'] }}</a></td>
                  <td>{{ row['city'] }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>

      </span>
    </div>
  </div>
  </div>

  <!-- Core -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}"></script>

  <!-- Optional plugins -->
  <script src="{{ url_for('static', filename='vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js') }}"></script>

  <!-- BLK• JS -->
  <script src="{{ url_for('static', filename='js/blk-design-system.js') }}"></script>
  </body>
</html>
