{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <!-- Main -->
          <h1><b>About</b></h1>
          <br>
          <h4><b>What is Live League?</b></h4>
          <p>
            Live League is the UK's only ongoing <u>'battle of the bands'</u> style
            competition.
          </p><br>
          <p>
            Entry is open to artists of any genre and events will
            be hosted by promoters <u>across the country</u>.
          </p><br>
          <p>
            Points are allocated to artists when you <u>vote</u> and the number of points
            allocated is <u>equal to the ticket price</u>. For example, a £5 ticket gives you
            a vote worth 5 points.
          </p><br>
          <br>
          <h4><b>What are the prizes?</b></h4>
          <p>
            Every time a vote is cast, money is added to the prize pool.
          </p><br>
          <p>
            As the league progresses, <u>sponsorship</u> will play a major role in boosting the prize pool.
          </p><br>
          <br>
          <h4><b>When does it finish?</b></h4>
          <p>
            The first season of the league will last from <u>September 2019</u> to <u>April 2020</u>.
          </p><br>
          <p>
            Then, in the summer of 2020, we'll round off the season with a <u>grand finale</u>  . More details to follow.
          </p><br>
        </span>
      </div>
      <p>&nbsp;</p>

      <div class="col-sm">
        <span>
          <h2><b>Co-Founders</b></h2>
          <br>
          <a href="https://www.linkedin.com/in/jacksellers/"><img src="{{ url_for('static', filename='img/co-founders-jack.jpg') }}" width="200" height="200"></a>
          <p><b>Jack Sellers</b> (The tech guy)</p>
          <br>
          <a href="https://www.linkedin.com/in/tom-simcox-bb87957b"><img src="{{ url_for('static', filename='img/co-founders-tom.jpg') }}" width="200" height="200"></a>
          <p><b>Tom Simcox</b> (The music guy)</p>
        </span>
      </div>

    </div>
  </div>
{% endblock %}
