{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <!-- Main -->
          <h1><b>Account</b></h1>
          <p><h6>Name: </h6>{{ account.name }}</p>
          <p><h6>Email: </h6>{{ account.email }}</p>
          {% if account.is_promoter %}
            {% if account.is_verified %}
              <p><h6>Verified: </h6><i class="fas fa-check-circle"></i></p>
            {% else %}
              <p><h6>Verified: </h6><i class="fas fa-times-circle"></i></p>
            {% endif %}
          {% endif %}
          <p><h6>Credit: </h6>£{{ account.credit }}</p>
          {% if account.is_promoter and not stripe_account_id %}
            <p>&nbsp;</p>
            <p>Your account must be verified before tickets can be issued</p>
            <a href="{{ oauth }}" type="button" class="btn btn-default">Verify account</a>
          {% endif %}
          <p>&nbsp;</p>
          <a href="{{ url_for('edit', category='account') }}"><button type="button" class="btn btn-success btn-sm">Edit</button></a>
          <a href="{{ url_for('sign_out') }}" type="button" class="btn btn-warning btn-sm">Sign Out</a>
          <p>&nbsp;</p>
          {% if account.facebook %}
            <i class="fab fa-facebook"></i><a href="{{ account.facebook }}"> Facebook</a>
            <br>
          {% endif %}
          {% if account.instagram %}
            <i class="fab fa-instagram"></i><a href="{{ account.instagram }}"> Instagram</a>
            <br>
          {% endif %}
          {% if account.soundcloud %}
            <i class="fab fa-soundcloud fa-xs"></i><a href="{{ account.soundcloud }}"> Soundcloud</a>
            <br>
          {% endif %}
          {% if account.spotify %}
            <i class="fab fa-spotify"></i><a href="{{ account.spotify }}"> Spotify</a>
            <br>
          {% endif %}
          {% if account.twitter %}
            <i class="fab fa-twitter-square"></i><a href="{{ account.twitter }}"> Twitter</a>
            <br>
          {% endif %}
          {% if account.website %}
            <i class="far fa-window-maximize"></i><a href="{{ account.website }}"> Website</a>
            <br>
          {% endif %}
          {% if account.youtube %}
            <i class="fab fa-youtube"></i><a href="{{ account.youtube }}"> Youtube</a>
            <br>
          {% endif %}
          {% if account.address_line1 or account.address_line2 or account.address_city or account.address_zip %}
            <p>&nbsp;</p>
            <p><h6>Address: </h6>
          {% endif %}
          {% if account.address_line1 %}
            {{ account.address_line1 }}<br>
          {% endif %}
          {% if account.address_line2 %}
            {{ account.address_line2 }}<br>
          {% endif %}
          {% if account.address_city %}
            {{ account.address_city }}<br>
          {% endif %}
          {% if account.address_zip %}
            {{ account.address_zip }}
          {% endif %}
          </p>

          <p>&nbsp;</p>

          {% if express and account.is_verified %}
            <a href="{{ express }}" type="button" class="btn btn-default" target="_blank">Payment methods <i class="fas fa-external-link-alt"></i></a>
          {% elif express and not account.is_verified %}
            <a href="{{ express }}" type="button" class="btn btn-default" target="_blank">Complete verification <i class="fas fa-external-link-alt"></i></a>
          {% endif %}

          <p>&nbsp;</p>
          
          {% if upcoming_tickets %}
            <!-- Table (Upcoming Tickets) -->
            <p>&nbsp;</p>
              <table class="table">
                <thead>
                    <tr>
                        <td colspan="5" class="text-center"><b>UPCOMING TICKETS</b></td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in upcoming_tickets %}
                    <tr>
                        <td><a class="ticket-code" href="{{ url_for('ticket', code=row['code']) }}">{{ row['code'] }}</td>
                        <td>{{ row['event_start_date']|date('small') }}</td>
                        <td><a href="{{ url_for('event', event_id=row['event_id']) }}">{{ row['event'] }}</a></td>
                        <td>{{ row['ticket_type'] }}</td>
                        {% if row['vote_artist'] %}
                          <td><a href="{{ url_for('artist', slug=row['vote_slug']) }}">{{ row['vote_artist'] }}</a></td>
                        {% else %}
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Vote
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for item in row['lineup'] %}
                                  <a class="dropdown-item dropdown-vote" data-code="{{ row['code'] }}" data-tally="{{ item['slug'] }}" href="#">{{ item['artist'] }}</a>
                                {% endfor %}
                              </div>
                            </div>
                          </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
              </table>
          {% endif %}

          <script type=text/javascript>
            $(document).ready(function() {
              $(".dropdown-vote").click(function() {
                var code = $(this).data("code");
                var tally = $(this).data("tally");
                $.getJSON($SCRIPT_ROOT + "/_vote", {
                  code: code,
                  tally: tally,
                }, function(data) {
                  if (data.result['vote'] == tally && data.result['owner'] == "{{ account.name }}") {
                    location.reload();
                  }
                });
                return false;
              });
            });
          </script>

          {% if past_tickets %}
          <!-- Table (Past Tickets) -->
          <p>&nbsp;</p>
            <table class="table">
              <thead>
                  <tr>
                      <td colspan="3" class="text-center"><b>PAST TICKETS</b></td>
                  </tr>
                  <tr>
                      <th>Code</th>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Vote</th>
                  </tr>
              </thead>
              <tbody>
              {% for row in past_tickets %}
                  <tr>
                      <td><a href="{{ url_for('ticket', code=row['code']) }}">{{ row['code'] }}</td>
                      <td>{{ row['event_start_date']|date('small') }}</td>
                      <td><a href="{{ url_for('event', event_id=row['event_id']) }}">{{ row['event'] }}</a></td>
                      <td>{{ row['ticket_type'] }}</td>
                      {% if row['vote_artist'] %}
                        <td><a href="{{ url_for('artist', slug=row['vote_slug']) }}">{{ row['vote_artist'] }}</a></td>
                      {% else %}
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Vote
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              {% for item in row['lineup'] %}
                                <a class="dropdown-item dropdown-vote" data-code="{{ row['code'] }}" data-tally="{{ item['slug'] }}" href="#">{{ item['artist'] }}</a>
                              {% endfor %}
                            </div>
                          </div>
                        </td>
                      {% endif %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        {% endif %}
        {% if upcoming_events %}
          <!-- Table (Upcoming Events - Artists Only) -->
          <p>&nbsp;</p>
            <table class="table">
              <thead>
                  <tr>
                      <td colspan="3" class="text-center"><b>UPCOMING EVENTS</b></td>
                  </tr>
                  <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Points</th>
                  </tr>
              </thead>
              <tbody>
              {% for row in upcoming_events %}
                  <tr>
                      <td>{{ row['event_start_date']|date('small') }}</td>
                      <td><a href="{{ url_for('event', event_id=row['event_id']) }}">{{ row['event'] }}</a></td>
                      {% if row['points'] %}
                        <td>{{ row['points'] }}</td>
                      {% else %}
                        <td>0</td>
                      {% endif %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        {% endif %}
        {% if past_events %}
          <!-- Table (Past Events - Artists Only) -->
          <p>&nbsp;</p>
            <table class="table">
              <thead>
                  <tr>
                      <td colspan="3" class="text-center"><b>PAST EVENTS</b></td>
                  </tr>
                  <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Points</th>
                  </tr>
              </thead>
              <tbody>
              {% for row in past_events %}
                  <tr>
                      <td>{{ row['event_start_date']|date('small') }}</td>
                      <td><a href="{{ url_for('event', event_id=row['event_id']) }}">{{ row['event'] }}</a></td>
                      {% if row['points'] %}
                        <td>{{ row['points'] }}</td>
                      {% else %}
                        <td>0</td>
                      {% endif %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </span>
      </div>
      <div class="col-sm">
        <span>
          {% if not account.is_artist and not account.is_promoter %}
            <h2>Win <b>prizes</b> in our social media contest:</h2>
            <ol>
              <h4>
                <li>Follow <span style="color: #CA52E4;">@livemusicleague</span> on <a href="https://www.instagram.com/livemusicleague"><u>Instagram</u></a> or <a href="https://www.twitter.com/livemusicleague"><u>Twitter</u></a></li><br>
                <li>Check your notifications to see if you've won:
                  <ul>
                    <li>Cash <i class="far fa-money-bill-alt"></i></li>
                    <li>Tickets <i class="fas fa-ticket-alt"></i></li>
                    <li>Drinks <i class="fas fa-beer"></i></li>
                  </ul><br>
                <li>Good luck <i class="far fa-smile"></i></li>
              </h4>
            </ol>
            <p>&nbsp;</p>
          {% endif %}
          {% if account.image %}
            <img src="{{ account.image }}" height="200" width="200">
          {% endif %}
        </span>
      </div>

    </div>
  </div>
{% endblock %}
