{% extends "base.html" %}
{% block title %}Artist{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <span>
        <!-- Main -->
        <h1><b>{{ artist.name }}</b></h1>
        {% if artist.description %}
          <p>{{ artist.description }}</p>
          <p>&nbsp;</p>
        {% endif %}
        <p><h6>Points: </h6>{{ artist.points }}</p>
        <p>&nbsp;</p>
        {% if artist.facebook %}
          <i class="fab fa-facebook"></i><a href="{{ artist.facebook }}"> Facebook</a>
          <br>
        {% endif %}
        {% if artist.instagram %}
          <i class="fab fa-instagram"></i><a href="{{ artist.instagram }}"> Instagram</a>
          <br>
        {% endif %}
        {% if artist.soundcloud %}
          <i class="fab fa-soundcloud fa-xs"></i><a href="{{ artist.soundcloud }}"> Soundcloud</a>
          <br>
        {% endif %}
        {% if artist.spotify %}
          <i class="fab fa-spotify"></i><a href="{{ artist.spotify }}"> Spotify</a>
          <br>
        {% endif %}
        {% if artist.twitter %}
          <i class="fab fa-twitter-square"></i><a href="{{ artist.twitter }}"> Twitter</a>
          <br>
        {% endif %}
        {% if artist.website %}
          <i class="far fa-window-maximize"></i><a href="{{ artist.website }}"> Website</a>
          <br>
        {% endif %}
        {% if artist.youtube %}
          <i class="fab fa-youtube"></i><a href="{{ artist.youtube }}"> Youtube</a>
          <br>
        {% endif %}
        {% if upcoming_events %}
          <!-- Table (Upcoming Events) -->
          <p>&nbsp;</p>
            <table class="table">
              <thead>
                  <tr>
                      <td colspan="3"><b>UPCOMING EVENTS</b></td>
                  </tr>
                  <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Points</th>
                  </tr>
              </thead>
              <tbody>
              {% for row in upcoming_events %}
                  <tr>
                      <td>{{ row['event_start_date'] }}</td>
                      <td><a href="{{ url_for('event', id=row['event_id']) }}">{{ row['event'] }}</a></td>
                      <td>{{ row['points'] }}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        {% endif %}
        {% if past_events %}
          <!-- Table (Past Events) -->
          <p>&nbsp;</p>
            <table class="table">
              <thead>
                  <tr>
                      <td colspan="3"><b>PAST EVENTS</b></td>
                  </tr>
                  <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Points</th>
                  </tr>
              </thead>
              <tbody>
              {% for row in past_events %}
                  <tr>
                      <td>{{ row['event_start_date'] }}</td>
                      <td><a href="{{ url_for('event', id=row['event_id']) }}">{{ row['event'] }}</a></td>
                      <td>{{ row['points'] }}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
      </span>
    </div>
    <div class="col-sm">
      <span>
        {% if artist.image %}
          <img src="{{ artist.image }}">
        {% endif %}
      </span>
    </div>
  </div>
  </div>
  {% endblock %}
