<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Live League</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <!-- Icons -->
    <link href="{{ url_for('static', filename='vendor/nucleo/css/nucleo-icons.css') }}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- BLK• CSS -->
    <link type="text/css" href="{{ url_for('static', filename='css/blk-design-system.css') }}" rel="stylesheet">
    <!-- Core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}"></script>
    <!-- Optional plugins -->
    <script src="{{ url_for('static', filename='vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js') }}"></script>
    <!-- BLK• JS -->
    <script src="{{ url_for('static', filename='js/blk-design-system.js') }}"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename='js/stripe.js') }}"></script>
    <script src="{{ url_for('static', filename='css/stripe.css') }}" rel="stylesheet"></script>
    {% endblock %}
</head>
<body>
  <div id="content">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}"><b>LIVE LEAGUE</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('list', category='events') }}">Events</a>
            </li>
            <li class="nav-item">
              {% if session.token %}
                <a class="nav-link" href="{{ url_for('account') }}">Account</a>
              {% else %}
                <a class="nav-link" href="{{ url_for('sign_in') }}">Sign In</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if cart_quantities == 0 %}
                <a class="nav-link" href="{{ url_for('cart') }}" id="nav-cart"><i class="fas fa-shopping-cart"></i></a>
              {% else %}
                <a class="nav-link" href="{{ url_for('cart') }}" id="nav-cart"><i class="fas fa-shopping-cart"></i> {{ cart_quantities }}</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Grid A -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <!-- Column 1 of 1 -->
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
    <p>&nbsp;</p>
  </div>
</body>
</html>
