<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="B8OXCKjgqQyAwtVVYE7yJ4BAMWuzSEMV2DgYxEvotk0" />
    <title>{% block title %}{% endblock %} - Live League</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <!-- Icons -->
    <link type="text/css" href="{{ url_for('static', filename='css/nucleo-icons.css') }}" rel="stylesheet">
    <link type="text/css" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- BLK• CSS -->
    <link type="text/css" href="{{ url_for('static', filename='css/blk-design-system.css') }}" rel="stylesheet">
    <!-- Core -->
    <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <!-- BLK• JS -->
    <script src="{{ url_for('static', filename='js/blk-design-system.js') }}"></script>
    <!-- Stripe -->
    <link type="text/css" href="{{ url_for('static', filename='css/stripe.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
  <div id="content">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/liveleague.png') }}" width="117" height="18"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/liveleague.png') }}" width="117" height="18"></a>
                </div>
                <div class="col-6 collapse-close text-right">
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                </div>
              </div>
            </div>

          <ul class="navbar-nav">

            <li class="nav-item">
            </li>

            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('lists', category='events') }}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('contact') }}">Contact</a>
            </li>
            <li class="nav-item">
              {% if session.token %}
                <a class="nav-link active" href="{{ url_for('account') }}">Account</a>
              {% else %}
                <a class="nav-link active" href="{{ url_for('sign_in') }}">Sign In</a>
              {% endif %}
            </li>

            <li class="nav-item">
              {% if cart_quantities == 0 %}
                <a class="nav-link active" href="{{ url_for('cart') }}" id="nav-cart"><i class="fas fa-shopping-cart"></i></a>
              {% else %}
                <a class="nav-link active" href="{{ url_for('cart') }}" id="nav-cart"><i class="fas fa-shopping-cart"></i> {{ cart_quantities }}</a>
              {% endif %}
            </li>

            <li class="nav-item">
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('social', platform='facebook') }}"><i class="fab fa-facebook"></i></a>
                <a class="nav-link active" href="{{ url_for('social', platform='instagram') }}"><i class="fab fa-instagram"></i></a>
                <a class="nav-link active" href="{{ url_for('social', platform='twitter') }}"><i class="fab fa-twitter-square"></i></a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Grid A -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <!-- Column 1 of 1 -->
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
    <p>&nbsp;</p>
  </div>

</body>
</html>
