{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if cart_quantities == 0 %}
    <!-- Grid B -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <span>
            <h1><b>Checkout</b></h1>
              <p>The cart is empty</p>
          </span>
        </div>
      </div>
    </div>
  {% else %}
    <!-- Grid B -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <span>
            <h1><b>Checkout</b></h1>

            {% if not account %}

              <form action="" method="post" novalidate>
                {{ login_form.hidden_tag() }}
                {{ register_form.hidden_tag() }}

                <!-- Register checkbox -->
                <div id="registration-btn" class="form-check">
                    <label class="form-check-label">
                        {{ login_form.register(id="registration-check", class="form-check-input", type="checkbox", value="") }}
                        I don't have an account yet
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                <p>&nbsp;</p>
                </div>

                <!-- First name (register only) -->
                <div id="first-name-div" class="form-group"  style="display: none;">
                  {{ register_form.first_name.label(for="firstNameInput") }}
                  {{ register_form.first_name(type="text", class="form-control", id="firstNameInput", placeholder="Enter first name") }}
                  {% for error in register_form.first_name.errors %}
                    <span style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                </div>

                <!-- Last name (register only) -->
                <div id="last-name-div" class="form-group"  style="display: none;">
                  {{ register_form.last_name.label(for="lastNameInput") }}
                  {{ register_form.last_name(type="text", class="form-control", id="lastNameInput", placeholder="Enter last name") }}
                  {% for error in register_form.last_name.errors %}
                    <span style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                </div>

                <!-- Email -->
                <div class="form-group">
                  {{ login_form.email.label(for="exampleInputEmail1") }}

                  {{ login_form.email(id="login-email-input", type="email", class="form-control", placeholder="Enter email", **{'aria-describedby':"emailHelp"}) }}
                  {{ register_form.email(id="register-email-input", style="display: none;", type="email", class="form-control", placeholder="Enter email", **{'aria-describedby':"emailHelp"}) }}

                  {% for error in login_form.email.errors %}
                    <span style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                  {% for error in register_form.email.errors %}
                    <span style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                </div>

                <!-- Password -->
                <div class="form-group">
                  {{ login_form.password.label(for="exampleInputPassword1") }}

                  {{ login_form.password(id="login-password-input", type="password", class="form-control", placeholder="Enter password") }}
                  {{ register_form.password(id="register-password-input", style="display: none;", type="password", class="form-control", placeholder="Enter password") }}

                  {% for error in login_form.password.errors %}
                    <span style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                  {% for error in register_form.password.errors %}
                    <span style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                </div>

                <p>&nbsp;</p>
                <!-- Submit button -->
                {{ login_form.submit(id="login-submit-btn", type="submit", class="btn btn-primary", value="Sign In") }}
                {{ register_form.submit(id="register-submit-btn", style="display: none;", type="submit", class="btn btn-primary", value="Register") }}

              </form>

              <script>
                $(document).ready(function() {
                  $('#registration-btn').click(function() {
                    if ($('#registration-check').prop('checked')) {
                      $("#main-header").html("<h1><b>Register</b></h1>");
                      $("#first-name-div").show();
                      $("#last-name-div").show();
                      $("#register-email-input").show();
                      $("#login-email-input").hide();
                      $("#register-password-input").show();
                      $("#login-password-input").hide();
                      $("#confirm-password-div").show();
                      $("#register-submit-btn").show();
                      $("#login-submit-btn").hide();
                    } else {
                      $("#main-header").html("<h1><b>Sign In</b></h1>");
                      $("#first-name-div").hide();
                      $("#last-name-div").hide();
                      $("#register-email-input").hide();
                      $("#login-email-input").show();
                      $("#register-password-input").hide();
                      $("#login-password-input").show();
                      $("#confirm-password-div").hide();
                      $("#register-submit-btn").hide();
                      $("#login-submit-btn").show();
                    }
                  });
                });
              </script>

            <p>&nbsp;</p>
            {% endif %}

            <!-- Table (Order Summary) -->
              <table class="table">
                <thead>
                    <tr>
                        <td colspan="4"><b>ORDER SUMMARY</b></td>
                    </tr>
                    <tr>
                        <th>Event</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in cart %}
                    <tr>
                      <td>{{ row['event'] }}</td>
                      <td>{{ row['name'] }}</td>
                      <td>{{ row['quantity'] }}</td>
                      <td>£{{ row['price'] * row['quantity'] }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>£{{ cart_total }}</b></td>
                    </tr>
                </tbody>
              </table>

          </span>
        </div>

        <div class="col-sm">
          <span>
            <h1><b>&nbsp;</b></h1>
            {% if 'token' in session %}
              <p><h6>Payment method: </h6>
                <!-- Payment method options -->

                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        Card
                        <span class="form-check-sign"></span>
                    </label>
                </div>

                <div class="form-check form-check-radio disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" disabled>
                        PayPal (coming soon)
                        <span class="form-check-sign"></span>
                    </label>
                </div>

                <div class="form-check form-check-radio disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" disabled>
                        Bitcoin (coming soon)
                        <span class="form-check-sign"></span>
                    </label>
                </div>

                <div class="form-check form-check-radio disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" disabled>
                        Credit
                        <span class="form-check-sign"></span>
                    </label>
                </div>

              </p>

              <p>&nbsp;</p>

              <!-- Stripe -->

              <form action="{{ url_for('charge', intent_id=intent.id) }}" method="post" id="payment-form">
                <div class="form-row">
                  <div id="card-element" class="form-control">
                    <!-- a Stripe Element will be inserted here. -->
                  </div>

                  <!-- Used to display form errors -->
                  <div id="card-errors"></div>
                </div>

                <p>&nbsp;</p>

                <button class="btn btn-primary" data-secret="{{ intent.client_secret }}">Pay</button>
              </form>

              <script src="https://js.stripe.com/v3/"></script>
              <script src="{{ url_for('static', filename='js/stripe.js') }}"></script>

            {% endif %}
          </span>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
