{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <!-- Main -->
          <h1><b>Contact</b></h1>
          <p><h6>Email: </h6>support@liveleague.co.uk</p>
          <p>&nbsp;</p>
          <i class="fab fa-facebook"></i><a href="https://www.facebook.com/livemusicleague"> Facebook</a><br>
          <i class="fab fa-instagram"></i><a href="https://www.instagram.com/livemusicleague"> Instagram</a><br>
          <i class="fab fa-twitter-square"></i><a href="https://www.twitter.com/livemusicleague"> Twitter</a>
        </span>
      </div>
      <div class="col-sm">
        <span>
        </span>
      </div>

    </div>
  </div>
{% endblock %}
