{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <!-- Main -->
          <h1><b>Contact</b></h1>
          <p><h6>Email: </h6>jackwsellers@gmail.com</p>
          <p>&nbsp;</p>
          <i class="fab fa-facebook"></i><a href="{{ url_for('social', platform='facebook') }}"> Facebook</a><br>
          <i class="fab fa-instagram"></i><a href="{{ url_for('social', platform='instagram') }}"> Instagram</a><br>
          <i class="fab fa-twitter-square"></i><a href="{{ url_for('social', platform='twitter') }}"> Twitter</a>
        </span>
      </div>
      <div class="col-sm">
        <span>
        </span>
      </div>

    </div>
  </div>
{% endblock %}
