{% extends "base.html" %}
{% block title %}Create Ticket{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
      <div class="row">
        <div class="col-sm">
          <span>
              <nav aria-label="breadcrumb" role="navigation">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('create', category='ticket') }}">Create Ticket</a></li>
                  </ol>
                </nav>
          </span>
        </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <!-- Main -->
          <h1><b>Create Ticket</b></h1>

          <form action="" method="post">

            {% if messages %}
              {% for message in messages %}
                <span style="color: white;">[{{ message }}]</span><br>
              {% endfor %}
              <p>&nbsp;</p>
            {% endif %}

            <!-- Event -->
            <div class="form-group">
              <label for="eventSelect">Event *</label>
              <select class="form-control" id="eventSelect" name="event-select" required>
                {% for event in events %}
                  <option class="event-option" value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Ticket Type -->
            <div class="form-group">
              <label for="typeSelect">Ticket Type *</label>
              <select class="form-control child-select" id="typeSelect" name="type-select" required>
                <option class="type-option" value="None">Select a ticket type...</option>
                {% for event in events %}
                  {% for ticket_type in event.ticket_types %}
                    {% if ticket_type.tickets_remaining > 0 %}
                      <option class="type-option" data-id="{{ event.id }}" value="{{ ticket_type.slug }}">{{ ticket_type.name }} - £{{ ticket_type.price }}</option>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </select>
            </div>

            <!-- Quantity -->
            <div class="form-group">
              <label for="example-number-input">Quantity *</label>
              <div>
                <input class="form-control" type="number" name="quantity-input" value="1" id="example-number-input" min="1">
              </div>
            </div>

            <!-- Vote -->
            <div class="form-group">
              <label for="voteSelect">Vote</label>
              <select class="form-control child-select" id="voteSelect" name="vote-select">
                <option class="vote-option" value="None">Select an artist...</option>
                {% for event in events %}
                  {% for tally in event.lineup %}
                    {% if event_id %}
                      <option class="vote-option" data-id="{{ event.id }}" value="{{ tally.slug }}">{{ tally.artist }}</option>
                    {% else %}
                      <option class="vote-option" data-id="{{ event.id }}" value="{{ tally.tally }}">{{ tally.artist }}</option>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </select>
            </div>

            <p>&nbsp;</p>

            <button type="submit" class="btn btn-default">Submit</button>

          </form>

          <script>
            $(document).ready(function() {

              // Add text colour to dropdown options
              $("option").css("color", "black");

              function changeOptions() {
                var event = $("#eventSelect").find(":selected").val();
                $(".child-select").find("option").hide();
                $(".child-select").find("option[data-id=" + event + "]").show();
              }

              // Initial filtering of ticket_types and tallies based on default event selection
              changeOptions()

              // Filtering on change in event selection
              $('#eventSelect').change(function() {
                changeOptions();
                // $(".child-select").prop('selected', false);
              });

            });
          </script>

        </span>
      </div>
      <div class="col-sm">
        <span>
        </span>
      </div>

    </div>
  </div>
{% endblock %}
