{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <h1><b>Checkout</b></h1>
            <p>Something went wrong. Please <a href="{{ url_for('checkout') }}">try again</a> and make sure that your payment details are entered correctly.</p>
            <p>If the error persists, please contact us at <u>support@liveleague.co.uk</u></p>
        </span>
      </div>
    </div>
  </div>
{% endblock %}
