{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <!-- Column 1 of 1 -->
        <span>
          <h1><b>The UK's biggest underground music competition</b></h1>
          <h3><b>£{{ '{:,}'.format(1000 + prize_pool) }} guaranteed prize pool</b></h3>
        </span>
      </div>
    </div>
  </div>
  <!-- Grid C -->
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- Column 1 of 2 -->
      <span>
        <!-- Table (Standings) -->
        <table class="table">
          <thead>
              <tr>
                  <td colspan="4"><b>STANDINGS</b></td>
              </tr>
              <tr>
                  <th class="text-center">#</th>
                  <th>Artist</th>
                  <th>Events</th>
                  <th>Points</th>
              </tr>
          </thead>
          <tbody>
          {% for row in standings %}
              <tr>
                  <td class="text-center">{{ standings.index(row) + 1 }}</td>
                  <td><a href="{{ url_for('artist', slug=row['slug']) }}">{{ row['name'] }}</a></td>
                  <td>{{ row['event_count'] }}</td>
                  <td>{{ row['points'] }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </span>
    </div>
    <div class="col-sm">

      <!-- Column 2 of 2 -->
      <span>

        <!-- Table (Upcoming Events) -->
        <table class="table">
          <thead>
              <tr>
                  <td colspan="6"><b>UPCOMING EVENTS</b></td>
              </tr>
              <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Name</th>
                  <th>Venue</th>
                  <th>City</th>
              </tr>
          </thead>
          <tbody>
          {% for row in upcoming_events %}
              <tr>
                  {% if row['image'] %}
                    <td><a href="{{ url_for('event', id=row['id']) }}"><img src="{{ row['image'] }}" class="img-rounded img-thumbnail-small"></a></td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td>{{ row['start_date'] }}</td>
                  <td>{{ row['start_time'][:-3] }}</td>
                  <td><a href="{{ url_for('event', id=row['id']) }}">{{ row['name'] }}</a></td>
                  <td><a href="{{ url_for('venue', slug=row['venue_slug']) }}">{{ row['venue'] }}</a></td>
                  <td>{{ row['venue_city'] }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </span>
    </div>
  </div>
  </div>
{% endblock %}
