{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <!-- Main -->
          <h1 id="main-header"><b>Password Reset</b></h1>

          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
    
            <!-- Password -->
            <div class="form-group">
              {{ form.password.label(for="exampleInputPassword1") }}

              {{ form.password(id="login-password-input", type="password", class="form-control", placeholder="Enter password") }}

              {% for error in form.password.errors %}
                <span style="color: white;">[{{ error }}]</span>
              {% endfor %}
            </div>
    
            <p>&nbsp;</p>

            <!-- Submit button -->
            {{ form.submit(id="login-submit-btn", type="submit", class="btn btn-primary") }}
          </form>

        </span>
      </div>

      <div class="col-sm">
        <span>

        </span>
      </div>

    </div>
  </div>
{% endblock %}
