{% extends "base.html" %}
{% block title %}Ticket{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Grid B -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <span>
          <!-- Main -->
          <h1><b>Ticket</b></h1>
          <p><h6>Event: </h6><a href="{{ url_for('event', id=ticket.event_id) }}">{{ ticket.event }}</a></p>
          <p><h6>Start: </h6>{{ ticket.event_start_date|date('full') }} - {{ ticket.event_start_time|time('12') }}</p>
          <p><h6>Code: </h6>{{ ticket.code }}</p>
          <p><h6>Type: </h6>{{ ticket.ticket_type }}</p>
          <p><h6>Price: </h6>£{{ price }}</p>
          {% if not ticket.owner %}
            <p>&nbsp;</p>
            <p>If this ticket didn't cost £{{ price }}, please <a href="{{ url_for('contact') }}">contact us</a></p>
          {% endif %}
          {% if account %}
            {% if ticket.vote_artist %}
              <p><h6>Vote: </h6>
              <a href="{{ url_for('artist', slug=ticket.vote_slug) }}">{{ ticket.vote_artist }}</a></p>
            {% else %}
              <p>&nbsp;</p>
              <p>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vote
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for row in lineup %}
                      <a class="dropdown-item dropdown-vote" data-id="{{ row['slug'] }}" href="#">{{ row['artist'] }}</a>
                    {% endfor %}
                  </div>
                </div>

                <script type=text/javascript>
                  $(document).ready(function() {
                    $(".dropdown-vote").click(function() {
                      var code = "{{ ticket.code }}";
                      var tally = $(this).data("id");
                        $.getJSON($SCRIPT_ROOT + "/_vote", {
                          code: code,
                          tally: tally,
                        }, function(data) {
                          if (data.result['vote'] == tally && data.result['owner'] == "{{ account.name }}") {
                            location.reload();
                          }
                        });
                        return false;
                    });
                  });
                </script>

              </p>
            {% endif %}
          {% else %}

            <p>&nbsp;</p>
            <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}

                <!-- Password -->
                <div class="form-group">
                  {{ form.password.label(for="exampleInputPassword1") }}

                  {{ form.password(id="login-password-input", type="password", class="form-control", placeholder="Enter password") }}

                  {% for error in form.password.errors %}
                    <span id="form-errors" style="color: white;">[{{ error }}]</span>
                  {% endfor %}
                </div>

              <p>&nbsp;</p>
              <!-- Submit button -->
              {{ form.submit(id="form-submit-btn", type="submit", class="btn btn-primary", value="Submit") }}
              <p>&nbsp;</p>

            </form>

          {% endif %}
        </span>
      </div>
      <div class="col-sm">
        <span>
          <h2>Win <b>£100</b> in our social media contest:</h2>
          <ol>
            <h4>
              <li>Add <span style="color: #CA52E4;">@livemusicleague</span> on <a href="{{ url_for('social', platform='instagram') }}"><u>Instagram</u></a> or <a href="{{ url_for('social', platform='twitter') }}"><u>Twitter</u></a></li><br>
              <li>Mention <span style="color: #CA52E4;">@livemusicleague</span> in a post</li><br>
              <li>Post of the month wins £100!</li>
            </h4>
          </ol>
        </span>
      </div>

    </div>
  </div>
{% endblock %}
